@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@font-face {
  font-family: "ITC Avant Garde Gothic Std";
  src: url(ITCAvantGardeStd-BkCnObl.otf) format("opentype"); }
@media (max-width: 768px) {
  .navbar-brand {
    position: absolute;
    left: 50%;
    top: 10px;
    transform: translateX(-50%); }

  .custom-toggler.navbar-toggler {
    border: none;
    transform: translateX(60%); }

  .navbar-toggler:focus {
    outline: none;
    box-shadow: none; } }
::-webkit-scrollbar {
  width: 10px;
  height: 10px; }

::-webkit-scrollbar-track {
  background: #2E3440; }

::-webkit-scrollbar-thumb {
  background: #eceff48a;
  border-radius: 5px; }

::-webkit-scrollbar-thumb:hover {
  background: #ECEFF4; }

* {
  margin: 0;
  box-sizing: border-box; }

nav {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
  background: transparent;
  backdrop-filter: blur(200px);
  border-radius: 2px;
  z-index: 9999; }

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("/images/bldg.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  text-align: center;
  min-width: 600px; }

.text-logo-1 {
  font-family: "ITC Avant Garde Gothic Std";
  color: #f5bf4a;
  font-weight: 500;
  font-size: 20px; }

.text-logo-2 {
  font-family: "ITC Avant Garde Gothic Std";
  color: #f5bf4a;
  font-weight: 900;
  font-size: 18px; }

.navbar {
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  position: fixed; }

.navbar-nav {
  padding-top: 5px; }

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); }

.nav-link {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700; }

.nav-link:hover {
  color: #9ae4f8; }

.content {
  width: 100%;
  position: absolute;
  top: 45%;
  text-align: center;
  color: #D8DEE9; }

.content > h3 {
  font-family: "Roboto", sans-serif;
  font-size: 70px;
  text-shadow: 3px 2px 1px #EA445A, 0px -2px 1px #74F0ED; }

#brandtext {
  color: #f5bf4a;
  text-align: center; }

.nav-link {
  color: #D8DEE9; }

.hidden {
  position: absolute;
  left: -9999px;
  top: -9999px;
  visibility: hidden; }

.active {
  color: red; }

.section-2 {
  position: absolute;
  top: 50%; }

.words {
  color: #D8DEE9; }

.my-title {
  color: white;
  font-size: 40px;
  font-family: "Roboto", sans-serif;
  padding-top: 20%; }

.qrcs {
  display: flex;
  justify-content: space-evenly;
  padding-top: 10%;
  margin-bottom: 10%; }

.words-about {
  margin: 15% 10% 10% 10%;
  color: #D8DEE9;
  text-align: justify;
  text-indent: 2em; }

/*# sourceMappingURL=styles.css.map */
