$dark-nord: #2E3440;
$cyan-nord: #9ae4f8;
$gold-nord: #f5bf4a;
$green-aurora: #A3BE8C;
$red-aurora: #BF616A;
$snowstorm1: #D8DEE9;
$snowstorm2: #ECEFF4;
$snowstorm2-darker: #eceff48a;
$titletextblue: #74F0ED;
$titletextred: #EA445A;
$textfontsz: 14px;
$titlefontsz: 16px;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@font-face {
    font-family: "ITC Avant Garde Gothic Std";
    src: url(ITCAvantGardeStd-BkCnObl.otf) format("opentype");
}

@media (max-width: 768px) {
    .navbar-brand {
        position: absolute;
        left: 50%;
        top: 10px;
        transform: translateX(-50%);
    }

    .custom-toggler.navbar-toggler {
        border: none;
        transform: translateX(60%);
    }

    .navbar-toggler:focus {
        outline: none;
        box-shadow: none;
    }
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: $dark-nord;
}

::-webkit-scrollbar-thumb {
    background: $snowstorm2;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: $snowstorm2-darker;
}

* {
    margin: 0;
    padding: 0;
}

nav {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
    background: transparent;
    backdrop-filter: blur(20px);
    border-radius: 2px;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("/images/bldg.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
    min-width: 600px;
}

.text-logo-1 {
    font-family: "ITC Avant Garde Gothic Std";
    color: $gold-nord;
    font-weight: 500;
    font-size: 20px;
}

.text-logo-2 {
    font-family: "ITC Avant Garde Gothic Std";
    color: $gold-nord;
    font-weight: 900;
    font-size: 18px;
}

.navbar {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    position: fixed;
}

.navbar-nav {
    padding-top: 5px;
}

.nav-link {
    font-family: "Montserrat", sans-serif;
    font-size: $textfontsz;
    font-weight: 700;
}

.nav-link:hover {
    color: $cyan-nord;
}

.content {
    width: 100%;
    position: absolute;
    top: 45%;
    text-align: center;
    color: $snowstorm1;
}

.content > h3 {
    font-family: "Roboto", sans-serif;
    font-size: 70px;
    text-shadow: 3px 2px 1px $titletextred, 0px -2px 1px $titletextblue;
}

#brandtext {
    color: $gold-nord;
    text-align: center;
}

.nav-link {
    color: $snowstorm1;
}

.hidden {
    position: absolute;
    left: -9999px;
    top: -9999px;
    visibility: hidden;
}

.active {
    color: red;;
}